.table_render_scope{
  overflow:auto;
}

.tabel_scope {
  width: 100%;
}

.table_heading {
  background-color: #f5f9ff;
}

.table_heading th {
  padding: 1rem;
}

.tbody_row_scope td {
  border-bottom: solid 1px #f5f9ff;
  padding: 15px;
  text-align: center;
  font-weight: 400;
  font-size: 0.75rem;
}

.navigation_container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  align-items: center;
}

.navigate-btn {
  background-color: #006aff;
  padding: 0.4rem 1.6rem;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 6px;
  margin: 0 1rem;
}
